<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emreyoldas.catchthethorkotlin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/thor"
        android:label="Thoru Yakala"
        android:roundIcon="@drawable/thor"
        android:supportsRtl="true"
        android:theme="@style/Theme.CatchTheThorKotlin">
        <activity android:name=".Mode2Activity"></activity>
        <activity android:name=".Settings" />
        <activity android:name=".StartPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>